<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <!--Code for the Page after login-->
      <h1>Hello World</h1>
      <p>Welcome {{session.userinfo.name}}!</p> 

      <!--DONT DELETE THIS-->
      <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
      <!--DONT DELETE THIS-->

    {% else %}
    <!--Code for the page before Login-->
      <h1>Welcome Guest</h1>

      <!--DONT DELETE THIS-->
      <p><a href="/login" id="qsLoginBtn">Login</a></p>
      <!--DONT DELETE THIS-->
    {% endif %}
  </body>
</html>